#questionnaire {
    color:#555;
    font:400 1em Roboto;
}
#questionnaire .fa.fa-info-circle {
    color:#007ACE;
}
#questionnaire-header {
    width:100%;
    margin:0 0 0.25em 0;
    padding:0;
}
#questionnaire[data-finished="false"] #questionnaire-header {
    background:none;
}
#questionnaire[data-finished="true"] #questionnaire-header {
    background:#EEE;
}
#questionnaire-progress {
    position:relative;
    margin:0;
    padding:0;
    height:2.7em;
}
#questionnaire[data-finished="true"] #questionnaire-progress {
    background:#CCC;
}
#questionnaire-rewind {
    position:relative;
    width:2.7em;
    height:2.7em;
    margin:0;
    padding:0;
    border:none;
    outline:none;
    color:#FFF;
    background:#3BAFDA;
}
#questionnaire-rewind:hover {
    background:#4FC1E9;
}
#questionnaire-rewind:disabled {
    background:#CCC;
    cursor:not-allowed;
}
#questionnaire-rewind > i.fa {
    position:absolute;
    top:0.65em;
    left:0.45em;
}
#questionnaire-progress-bar-container {
    position:absolute;
    top:0.6em;
    left:3.2em;
    right:0;
    height:1.5em;
}
#questionnaire[data-finished="false"] #questionnaire-progress-bar-container {
    background:#EEE;
}
#questionnaire-progress-bar {
    position:relative;
    overflow:hidden;
    height:100%;
    width:0;
    background:#CCC;
    transition:width 0.3s ease-in-out;
    -o-transition:width 0.3s ease-in-out;
    -ms-transition:width 0.3s ease-in-out;
    -moz-transition:width 0.3s ease-in-out;
    -webkit-transition:width 0.3s ease-in-out;
}
#questionnaire-percentage-complete {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    margin:0.2em 0.25em 0 0;
    font-weight:500;
}
#questionnaire-submission-form {
    width:100%;
    padding:0.5em;
}
#questionnaire[data-finished="false"] #questionnaire-submission-form {
    display:none;
}
#questionnaire-submission-button {
}
#questionnaire-submission-message {
    font-weight:500;
    font-size:0.9em;
    font-style:italic;
    margin:0.25em 0 0;
}
#questionnaire-submission-message > p {
    display:none;
    margin:0;
}
#questionnaire-submission-message > p.on-success {
    color:#090;
}
#questionnaire-submission-message > p.on-error {
    color:#F00;
}
#questionnaire-submission-thanks {
    margin:0.5em 0 0;
}
#question {
}
#questionnaire[data-finished="true"] #question {
    display:none;
}
#question-title {
    font-weight:300;
    font-size:2em;
    margin:0;
    padding:0;
}
#question-help-modal > .modal-dialog > .modal-content {
    font-size:1.2em;
    border-radius:0;
}
#question-help-modal > .modal-dialog > .modal-content > .modal-header {
    background:#EEE;
}
#question-help-modal-title {
    font-size:1.5em;
}
#question-assistance {
    color:#666;
    font-size:1.2em;
}
#question-help-modal-toggle {
    cursor:help;
}
#question-answer {
    margin:0.5em 0 0;
}
#question-answer-fields {
    margin:0 0 1em 0;
}
/**
 * Input fields.
 */
#question-answer-fields > .field-group {
    position:relative;
    display:none;
    margin:0.5em 0;
    padding:0;
    font-size:1.2em;
}
#question[data-type="dropdown-list"]          > #question-answer > #question-answer-fields  > .field-group.dropdown-list,
#question[data-type="select"]                 > #question-answer > #question-answer-fields  > .field-group.select,
#question[data-type="checklist"]              > #question-answer > #question-answer-fields  > .field-group.checklist,
#question[data-type="illustrative-checklist"] > #question-answer > #question-answer-fields  > .field-group.illustrative-checklist,
#question[data-type="text"]                   > #question-answer > #question-answer-fields  > .field-group.text,
#question[data-type="longtext"]               > #question-answer > #question-answer-fields  > .field-group.longtext,
#question[data-type="number"]                 > #question-answer > #question-answer-fields  > .field-group.number,
#question[data-type="datetime"]               > #question-answer > #question-answer-fields  > .field-group.datetime,
#question[data-type="date"]                   > #question-answer > #question-answer-fields  > .field-group.date,
#question[data-type="url"]                    > #question-answer > #question-answer-fields  > .field-group.url,
#question[data-type="geolocation"]            > #question-answer > #question-answer-fields  > .field-group.geolocation,
#question[data-type="custom"]                 > #question-answer > #question-answer-fields  > .field-group.custom {
    display:block;
}
/**
 * Textual input fields.
 */
#text-field,
#longtext-field,
#number-field,
#url-field {
    width:100%;
    min-width:100%;
    max-width:100%;
    margin:0;
    padding:0.5em;
    font-weight:400;
    font-family:Montserrat;
    border:1px solid #DDD;
    background:#EEE;
}
/**
 * Dropdown list fields.
 */
#question-answer-fields > .field-group.dropdown-list {
    width:100%;
    height:2em;
}
#question-answer-fields > .field-group.dropdown-list > section {
    position:absolute;
    top:0;
    bottom:0;
}
#question-answer-fields > .field-group.dropdown-list > section.input {
    left:0;
    right:2em;
}
#question-answer-fields > .field-group.dropdown-list > section.reset {
    right:0;
    width:2em;
}
#dropdown-list-field,
#dropdown-list-field-reset {
    width:100%;
    height:100%;
}
#dropdown-list-field-reset {
    margin:0;
    padding:0;
    border:none;
    background:none;
    color:#AAA;
    outline:none;
    transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -webkit-transition:color 0.2s ease-in-out;
}
#dropdown-list-field-reset:hover {
    color:#666;
}
#dropdown-list-field-reset:disabled {
    color:#EEE;
}
/**
 * Multiple choice fields, i.e. select (multiple choice, single response) and checklist (multiple choice, multiple response).
 */
#question-answer-fields > .field-group .multiple-choice label {
    font:inherit;
    cursor:pointer;
    user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -webkit-touch-callout:none;
}
#question-answer-fields > .field-group .multiple-choice label > input[type="radio"],
#question-answer-fields > .field-group .multiple-choice label > input[type="checkbox"] {
    margin:0 0.3em 0 0;
}
#question-answer-fields > .field-group .multiple-choice label[role="other-option"] > input[type="text"] {
    visibility:hidden;
    margin:0 0 0 0.5em;
    padding:0.25em 0.3em;
    font-weight:400;
    font-family:Montserrat;
    border:1px solid #DDD;
    background:#EEE;
}
#question-answer-fields > .field-group .multiple-choice label[role="other-option"] > input:checked ~ input[type="text"] {
    visibility:visible;
}
/**
 * Answer buttons.
 */
#questionnaire .btn {
    font-family:Montserrat;
    text-transform:uppercase;
    border-radius:0;
}
#question[data-type]                          > #question-answer > #question-answer-buttons > .btn.show-on-binary,
#question[data-type]                          > #question-answer > #question-answer-buttons > .btn.show-on-list,
#question[data-type="binary"]                 > #question-answer > #question-answer-buttons > .btn.hide-on-binary {
    display:none !important;
}
#question[data-type="binary"]                 > #question-answer > #question-answer-buttons > .btn.show-on-binary,
#question[data-type="dropdown-list"]          > #question-answer > #question-answer-buttons > .btn.show-on-list,
#question[data-type="select"]                 > #question-answer > #question-answer-buttons > .btn.show-on-list,
#question[data-type="checklist"]              > #question-answer > #question-answer-buttons > .btn.show-on-list,
#question[data-type="illustrative-checklist"] > #question-answer > #question-answer-buttons > .btn.show-on-list {
    display:inline !important;
}
