#project {
    font:400 1em Roboto;
}
#project-header {
    padding-bottom:0.15em;
}
#project-information {
}
#project-name {
    margin:0;
    padding:0;
    font-weight:900;
    font-size:2.7em;
}
#project-name > small {
    margin:0 0 0 0.3em;
    font-size:0.5em;
    font-family:Raleway;
}
#project-description {
    display:none;
    font:400 1.2em Roboto;
}
#project-locale {
    display:none;
    font-weight:400;
    font-size:0.9em;
}
#project-locale-selector {
    background:#EEE;
    border:none;
    margin:0 0.5em;
    padding:0.25em;
}
#project-analyses-completed {
    display:none;
    text-align:right;
    text-transform:uppercase;
    font:900 0.85em Roboto;
}
#project-analyses-completed > span.count {
    font-size:3em;
}
#project-analyses-completed > span.count > span.completed {
    font-weight:200;
}
#project-analyses-completed > span.count > span.completed,
#project-analyses-completed > span.count > span.total {
    margin:0 0.1em;
}
/**
 * Icon colors.
 */
#project .fa.fa-info-circle {
    color:#007ACE;
}
/**
 * Header style for the questionnaire and subject sections.
 */
#project .section-header {
    width:100%;
    margin:0;
    padding:0;
}
