<section id="image-section" class="col-xs-6 show-on-task-loaded">
    <div id="image-container" class="row">
        <div id="image"></div>
        <button id="image-zoom-in"      class="image-control btn btn-primary btn-xs"><i class="fa fa-search-plus"></i></button>
        <button id="image-zoom-out"     class="image-control btn btn-primary btn-xs"><i class="fa fa-search-minus"></i></button>
        <button id="image-rotate-left"  class="image-control btn btn-primary btn-xs"><i class="fa fa-rotate-left"></i></button>
        <button id="image-rotate-right" class="image-control btn btn-primary btn-xs"><i class="fa fa-rotate-right"></i></button>
    </div>
    <div class="row">
        <center>
            <div id="image-source-container">You can learn more about this photo by visiting its <a id="image-source" rel="nofollow" target="_blank">source</a>.</div>
            <div id="image-protip"><a class="btn btn-info btn-xs disabled">PROTIP</a>&nbsp;In addition to <a class="btn btn-primary btn-xs disabled"><i class="fa fa-search-plus"></i></a> and <a class="btn btn-primary btn-xs disabled"><i class="fa fa-search-minus"></i></a> you can use the mouse wheel to zoom in and out.</div>
        </center>
    </div>
</section>
