<section id="pdf-section" class="col-xs-8 show-on-task-loaded hide">
  <div id="pdf" class="row">
  </div>
  <div class="row">
      <center>
          <div id="pdf-source-container">You can learn more about this PDF by visiting its <a id="pdf-source" rel="nofollow" target="_blank">source</a>.</div>
          <div id="pdf-protip">
            <a class="btn btn-info btn-xs disabled">PROTIP</a> You can use <code>CTRL</code> + the mouse wheel/scroll to zoom in and out.<br/>
            <a class="btn btn-info btn-xs disabled">PROTIP</a> You can click on the PDF and then press <code>H</code> to toggle <i class="fa fa-hand-paper-o"></i>Hand tool<br/>
          </div>
      </center>
  </div>
</section>
<style type="text/css">
#questionnaire-section{
  padding-right:0px;
}
#pdf{
  padding-left:15px;
}
</style>
