{% import "helpers/modal.html" as modal -%}
{% set questions = questionnaire.questions -%}
<section id="questionnaire-section" class="col-xs-6">
	<div id="questionnaire-status-panel">
		<header>
			YOUR CURRENT ANALYSIS IS <span id="current-analysis-progress">0</span>% COMPLETE
			<div id="questionnaire-busy-icon" class="pull-right hide"><i class="fa fa-pulse fa-spinner"></i></div>
		</header>
		<main>
			<div class="show-on-analysis-complete">
			{% if istutorial %}
				{%   if tutorial_len == 1 %}<p>You have successfully completed the tutorial and are are now ready to begin working on the project however if you feel like you are not quite ready, you can <a id="take-another-tutorial" class="clickable">retake</a> the tutorial!</p>
				{% elif tutorial_len  > 1 %}<p>You have successfully completed one of the project's tutorials however if you feel like you are not quite ready, we highly recommend <a id="take-another-tutorial" class="clickable">taking another</a>.</p>{% endif %}
				<a id="start-contributing" class="btn btn-success btn-block" href="/project/{{slug}}/newtask">START CONTRIBUTING</a>
			{% else %}
				<div style="position:relative">
					<button id="submit-analysis" class="btn btn-block btn-success">
						<span class="show-on-busy">SUBMITTING ANALYSIS ...</span>
						<span class="hide-on-busy"><span class="hidden-lg hidden-md">SUBMIT</span><span class="hidden-xs hidden-sm">SUBMIT IT AND LOAD ANOTHER ONE</span></span>
					</button>
				</div>
				<p id="submit-message-success" class="animated fadeIn hide">Your analysis has been submitted successfully!</p>
				<p id="submit-message-failure" class="animated fadeIn hide">Hmmm, there was an error submitting your analysis. Please try again.</p>
				<br>
				<p>Thank you very much for your analysis! We appreciate any feedback you may have for us so get on <a target="_blank" href="https://github.com/geotagx/pybossa/issues">GitHub</a> or <a href="mailto:geotag-x@cern.ch?Subject=GeoTag-X feedback" target="_top">send us an email</a>.</p>
			{% endif %}
			</div>
		</main>
		<footer><div id="questionnaire-progress"><div id="questionnaire-progress-bar"></div></div></footer>
	</div>
	<button id="questionnaire-no-photo" class="btn btn-sm btn-block btn-danger show-on-task-loaded"><i class="fa fa-fw fa-lg fa-warning"></i>&nbsp;I do not see a photo</button>
	<button id="questionnaire-rewind" class="btn btn-sm btn-block btn-primary show-on-task-loaded" disabled><i class="fa fa-fw fa-lg fa-arrow-circle-left"></i>&nbsp;Go to previous question</button>
	{% if questions -%}
	{% call modal.basic("geotagging-help-modal", "How to geolocalize an image") %}
		<h4>Locating a region</h4>
		<p>
			If you are unsure of the region where the photo was taken, we recommended perusing the
			source article for any hints. If you do find the name of the location where the photo
			was taken, you can use <button disabled class="btn btn-primary" style="padding:0 0.15em"><i class="fa fa-fw fa-search"></i></button>
			(the Search tool) to quickly zoom in on it.
		</p>
		<h4>Changing the view mode</h4>
		<p>
			By default, you are presented with a map view that may not be useful in cases where you would
			like to have a clearer view of the terrain. In these instances, it is possible to switch to either satellite
			imagery with <button disabled class="btn btn-primary" style="padding:0 0.35em"><strong>S</strong></button> (the Satellite Imagery toggle)
			or aerial imagery with <button disabled class="btn btn-primary" style="padding:0 0.35em"><strong>A</strong></button>
			(the Aerial Imagery toggle). The downside to both satellite and aerial views is that imagery data may not always
			be available. While this is particularly apparent for satellite imagery, in almost all cases, aerial imagery
			can be used as a complement. In other words, try switching to the aerial view when no satellite imagery is available.<br>
			To switch back to the map view, you can use <button disabled class="btn btn-primary" style="padding:0 0.35em"><strong>M</strong></button>
			(the Map View toggle).
		</p>
		<h4>Selecting an area of interest</h4>
		<p>
			Once you have located an area you would like to geolocalize, the goal is to draw an outline around it
			as accurately as possible. To begin, start by clicking a point on the map to toggle draw mode.
			This mode will allow you to draw a polygon around your area of interest. To finish drawing, you can
			either double-click the last point of the outline, or click its first point to close the loop.<br><br>
			Please remember that only one outline can be drawn at a time. If the process is restarted, any
			existing polygons will be deleted.<br>You can also remove any drawings by
			using <button disabled class="btn btn-primary" style="padding:0 0.15em"><i class="fa fa-fw fa-eraser"></i></button> (the Eraser tool).
		</p>
		<h4>Full-screen mode</h4>
		<p>
			If your viewport is too small, you can switch to full-screen with <button disabled class="btn btn-primary" style="padding:0 0.25em"><big>&#8596;</big></button>
			(the Full-screen toggle). This tool is not available if your browser does not support full-screen mode!
		</p>
	{% endcall %}

	{% import "helpers/input.html" as input %}
	{% for key, entry in questions.iteritems() -%}
	<div class="question hide" data-key="{{key}}" data-type="{{entry.type}}" data-index={{loop.index}}>
		<header class="title">{{entry.question}}</header>
		{% if entry.hint %}<p>{{entry.hint}}</p>{% endif %}
		{%- set has_help = True if entry.help else False -%}

		{% if entry.type == "geotagging" %}
		<section class="help">
			If you do not know how to answer this question, get some <button class="help-toggle btn-link" rel="nofollow" data-toggle="modal" data-target="#geotagging-help-modal"><strong>help.</strong></button>
		</section>
		{% elif entry.type != "geotagging" and has_help %}
		{% call modal.help(key, entry.question) %}{{entry.help}}{% endcall %}
		{% endif %}

		<div class="answer" data-key="{{key}}">
			{%   if entry.type == "binary"                 %}{{input.binary(key, entry.parameters, has_help)}}
			{% elif entry.type == "dropdown-list"          %}{{input.dropdown_list(key, entry.parameters, has_help)}}
			{% elif entry.type == "select"                 %}{{input.select(key, entry.parameters, has_help)}}
			{% elif entry.type == "checklist"              %}{{input.checklist(key, entry.parameters, has_help)}}
			{% elif entry.type == "illustrative-checklist" %}{{input.illustrative_checklist(key, entry.parameters, has_help)}}
			{% elif entry.type == "text"                   %}{{input.text(key, entry.parameters, has_help)}}
			{% elif entry.type == "longtext"               %}{{input.longtext(key, entry.parameters, has_help)}}
			{% elif entry.type == "number"                 %}{{input.number(key, entry.parameters, has_help)}}
			{% elif entry.type == "datetime"               %}{{input.datetime(key, entry.parameters, has_help)}}
			{% elif entry.type == "date"                   %}{{input.date(key, entry.parameters, has_help)}}
			{% elif entry.type == "url"                    %}{{input.url(key, entry.parameters, has_help)}}
			{% elif entry.type == "geotagging"             %}{{input.geotagging(key, entry.parameters, True)}}
			{% elif entry.type == "custom"                 %}{{input.custom(key, entry.parameters, has_help)}}
			{% endif %}
		</div>
	</div>
	{%- endfor %}
	{% endif %}
	{% if istutorial -%}
	<div class="col-xs-12">
		<div id="tutorial-message-box" class="row hide">
			<div id="tutorial-failure-message" class="col-xs-12 hide-on-expected"></div>
			<div id="tutorial-success-message" class="col-xs-10 show-on-expected"></div>
			<div class="show-on-expected pull-right"><center><button id="tutorial-next-question" class="btn btn-primary">Next</button></center></div>
		</div>
	</div>
	{%- endif %}
	<div class="show-on-task-loaded">
		<hr>
		<div><button id="questionnaire-show-comments" class="btn btn-block btn-default btn-sm" disabled>Show comments</button></div>
		<div><button id="questionnaire-hide-comments" class="btn btn-block btn-default btn-sm hide"    >Hide comments</button></div>
		<div id="disqus_thread" class="hide"></div>
	</div>
</section>
